@import "tailwindcss";

:root {
  --background: #0c0a09;
  --foreground: #a6a09b;
  --title-text: #ffffff;
  --border: #d6d3d1;

  --secondary: #1c1917;

  --hover-primary: #2e2e2e;
  --primary: oklch(50.5% 0.213 27.518);
}

@theme {
  --animate-shimmer: shimmer 2s infinite;
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-title-text: var(--title-text);
  --color-border: var(--border);
  --color-hover-primary: var(--hover-primary);

  --font-Outfit: var(--font-outfit);
  --font-Merriweather: var(--font-merriweather);
}

@layer base {
  body {
    @apply font-Outfit bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-Merriweather;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-base;
  }

  button {
    @apply cursor-pointer;
  }
}

aside ul li,
nav ul li {
  @apply cursor-pointer;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .cta-button {
    @apply font-Outfit font-medium text-title-text;
  }
}

.footer-grid ul li {
  @apply hover:text-title-text;
}
